<div class="admin-top container">
	<div class="row">

		<% if flash[:notice] %>
      		<div class="container">
        		<div class="row">
          			<div class="alert alert-success" role="alert">
            			<div class="flash">
              				<%= flash[:notice] %>
            			</div>
          			</div>
        		</div>
      		</div>
     	<% end %>

		<h3 style="text-align: center; padding: 20px 0;">管理者メニュー</h3>

		<h4 style="padding: 10px 0 ;">ユーザー一覧</h4>
		<table class="table col-md-12 col-xs-12">
			<thead>
				<tr>
					<th>#</th>
					<th>ユーザー名</th>
					<th>Eメール</th>
					<th>登録日</th>
					<th>ユーザー削除</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<th><%= user.id %></th>
						<td>
							<%= link_to user_path(user.id), :style => "color: white;" do %>
								<%= user.name %>
							<% end %>
						</td>
						<td><%= user.email %></td>
						<td><%= user.created_at.strftime('%Y/%m/%d') %></td>
						<td><%= link_to "削除", admin_path(user.id), method: :delete, "data-confirm" => "本当に削除しますか？", :class => "btn btn-danger"%></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<div class="actions" style="text-align: center;">
			<%= link_to " イベント追加", new_event_path, :class => "btn btn-info" %>

			<%= link_to " ログアウト", destroy_admin_session_path, method: :delete, :class => "btn btn-danger" %>
		</div>



	</div>
</div>
