<div class="container" style="width: 100%;">
	<div class="row">

		<div class="main-visual" style="background-image:url(<%= asset_path "index.JPG" %>)">
			<div class="search-box" style="text-align: center; padding-top: 60px; height: 400px;">
	            <%= search_form_for @search do |f| %>
	            	<div class="search-form">
	            		<%= f.label :フリーワード検索 %><br />
	                	<%= f.text_field :introduction_cont, placeholder: ' AIMGAINエアロ,シャコタンなど...', :size => "40*40"%>
	                </div>
	                <div class="search-form">
	                	<%= f.label :メーカー検索 %><br />
	                	<%= f.collection_select :manufacture_id_eq, @manufactures, :id, :manufacture, :include_blank => '指定なし'%>
	                </div>
	                <div class="search-form">
	                	<%= f.label :車種検索 %><br />
	                	<%= f.collection_select :car_model_id_eq, @car_models, :id, :car_model, :include_blank => '指定なし'%>
	                </div>
	                <div class="search-form">
	                	<%= f.label :年式検索 %><br />
	                	<%= f.collection_select :car_year_id_eq, @car_years, :id, :car_year, :include_blank => '指定なし'%>
	                </div>
	                <div class="action" style="margin-top: 10px;">
	                    <%= f.submit "検索", :class => "btn btn-info" %>
	                </div>
	            <% end %>
	        </div>
	     </div>

	     <div class="car-index-title" style="margin: 20px 0; text-align: center;">
	     	<h4>新規登録車両</h4>
	     </div>

	    <div class="container cars-index" style="width: 100% margin: 0 40px;">
	    	<div class="row">
				<% @cars.each do |car| %>
					<%= link_to car_path(car.id) do %>
						<ul class="list-group col-sm-6 center-block" style="width: 230px; color: black; text-align: center;">
							<li class="list-group-item"><%= attachment_image_tag car, :image, class: "profile-thumb", size: "180x180" %></li>
							<li class="list-group-item"><%= car.car_year.car_year %> <%= car.manufacture.manufacture %> <%= car.car_model.car_model %></li>
							<li class="list-group-item"><%= car.user.name %></li>
							<li class="list-group-item"><%= car.user.area %></li>
						</ul>
					<% end %>
				<% end %>
			</div>
		</div>

	</div>
</div>




