<h1>Cars#search</h1>
<p>Find me in app/views/cars/search.html.erb</p>

<% @search_cars.each do |car| %>
	<%= link_to car_path(car.id) do %>
		<ul class="list-group col-sm-6 center-block" style="width: 230px; color: black; text-align: center;">
			<li class="list-group-item"><%= attachment_image_tag car, :image, class: "profile-thumb", size: "180x180" %></li>
			<li class="list-group-item"><%= car.car_year.car_year %> <%= car.manufacture.manufacture %> <%= car.car_model.car_model %></li>
			<li class="list-group-item"><%= car.user.name %></li>
			<li class="list-group-item"><%= car.user.area %></li>
		</ul>
	<% end %>
<% end %>